@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Dancing+Script&display=swap');

*{
    font-family: 'Comfortaa', cursive;
}
.logo{
    font-family: 'Dancing Script', cursive;
}

.icon{
    animation: icn 3s infinite;
}
@keyframes icn {
    0%{
        transform: translate(0);
    }
    50%{
        transform: translate(2px,5px);
    }
    100%{
        transform: translate(0);
    }
}
.section{
    background-image: url(/src/pages/images/pexels-pixabay-531756.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.input{
    border:none;
}
.input::placeholder{
    color:black;
}
da{
    background-color: rgb(220, 110, 110);
}